{% extends 'base.html' %}
{% block title %}Lista de Productos{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4">Lista de Productos</h1>
    <div class="table-responsive">
        <table class="table table-bordered mt-3" style=" border-color: black;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td><img src="{{ producto.foto.url }}" alt="{{ producto.nombre }}"
                            style="width: 70px; height: 70px; object-fit: cover;"></td>
                    <td><a href="{% url 'editar_producto' producto.pk %}" class="btn btn-warning btn-sm">Modificar</a>
                    </td>
                    <td><a href="{% url 'eliminar_producto' producto.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a href="{% url 'agregar_producto' %}" class="btn btn-success">Agregar Producto</a>
    </div>
</div>
{% endblock %}