{% extends 'base.html' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4">Lista de Usuarios</h1>
    <div class="table-responsive">
        <table class="table table-bordered mt-3" style=" border-color: black;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.is_admin|yesno:"Sí,No" }}</td>
                    <td><a href="{% url 'editar_usuario' usuario.pk %}" class="btn btn-warning btn-sm">Modificar</a>
                    </td>
                    <td><a href="{% url 'eliminar_usuario' usuario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a href="{% url 'agregar_usuario' %}" class="btn btn-success">Agregar Usuario</a>
    </div>
</div>
{% endblock %}