{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-2">
    <div class="card shadow-sm" style="width: 30rem;">
        <div id="div_login" class="card-body">
            <h2 class="text-center mb-4">Registro</h2>

            <!-- Mostrar mensajes de error o éxito -->
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Formulario de registro -->
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }} <!-- Mostrar los campos del formulario automáticamente -->

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Registrarme</button>
                    <button type="button" class="btn btn-danger w-50" onclick="window.history.back()">Cancelar</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-primary">Inicia sesión aquí</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}